ul li {
	list-style: none;
}

#container {
	position: relative;
}

#imageTemp {
	position: absolute;
	top: 1px;
	left: 1px;
}

#myCanvas {
	border: 1px solid black;
	border-radius: 10px;
	float:left;

}

#tool-box {
	width:120px;
	height: auto;
	padding-left: 20px;
	float:left;
}

#text-box {
	position: absolute;
	display: none;
}

.buttons {
	
	bottom:0;
}

.ul-tools {
	float:left;
}

.color {
	width:25px;
	height:25px;
	border: 1px solid black;
	border-radius: 4px;
	margin:4px;
}

#brush-size {
	width:70%;
}

.selected {
	box-shadow: 0px 0px 5px #000;
}

/*COLORS*/

#red {
	background-color: red;
}
#blue {
	background-color: blue;
}
#yellow {
	background-color: yellow;
}
#white {
	background-color: white;
}
#black {
	background-color: black;
}
#lime {
	background-color: lime;
}